<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
    <li role="presentation"><a href="#vanilla-editing" aria-controls="vanilla-editing" role="tab" data-toggle="tab">Vanilla Editing</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
		${include_child('Details')}
    </div>
    <div role="tabpanel" class="tab-pane" id="vanilla-editing">
		${include_child('Vanilla Editing')}
    </div>
  </div>
</div>