<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"><!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/bootstrap/favicon.ico?0">
		<title>${localize('project-management')}</title>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/custom/css/custom.css" rel="stylesheet">
	</head>
	<body>
		${include('Navigation Top')}
		<div class="container-fluid mt-3">
			<div class="row">
				<div class="col-lg-12">
					${render(children)}
				</div>
			</div>
		</div>
		<script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/structr/js/frontend/frontend.js" type="module"></script>
	</body>
</html>
